
input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control ***REMOVED***
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
***REMOVED***

textarea, 
textarea.form-control ***REMOVED***
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
***REMOVED***

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus ***REMOVED***
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
***REMOVED***

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder ***REMOVED*** color: #888; ***REMOVED***

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder ***REMOVED*** color: #888; ***REMOVED***

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder ***REMOVED*** color: #888; ***REMOVED***



button.btn ***REMOVED***
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
***REMOVED***

button.btn:hover ***REMOVED*** opacity: 0.6; color: #fff; ***REMOVED***

button.btn:active ***REMOVED*** outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; ***REMOVED***

button.btn:focus ***REMOVED*** outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; ***REMOVED***

button.btn:active:focus, button.btn.active:focus ***REMOVED*** outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; ***REMOVED***
